.film-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    max-width: 166px;
    padding: 4px;
    background-color: #323232;
}

.poster {
    height: 250PX;
}

.title {
    font-weight: 600;
    font-size: 16px;
}
.title-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.info {
    font-size: 12px;
}
.info-year{
    font-weight: 600;
    color: #c6c6c6;
    
}
.info-genre{
    font-weight: 100;
    color: #a4a4a4;
}
.title-rate{
    color: yellow;
    font-size: 11px;
    margin-left: 4px;
}